.forgot-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.forgot-password-content {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #3333ff;
  font-weight: bold;
  margin-bottom: 20px;
}

IonItem {
  margin-bottom: 20px;
}

IonButton {
  margin-top: 60px;
}

IonText {
  margin-top: 60px;
}

.send-email-button {
  background-color: #3333ff;
  color: white;
  margin-top: 10px;
}

.send-email-button:disabled {
  background-color: #c1c1c1;
  color: #777;
}
.login-link {
   margin-top: 10px;
  text-align: center;
}

.login-link a {
   text-decoration: none;
  color: #3333ff;
}

.login-link a:hover {
   text-decoration: underline;
}
