.name-savings-container {
    padding: 20px;
    text-align: left;
}

.monthly-summary-container {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 90%;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}


.income-expense-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-item {

  text-align: right;
}

.income-text {
    text-align: center;
}

.expense-text {
    text-align: center;
}

.income-value-text {
    text-align: center;
}

.expense-value-text {
    text-align: center;
}

.transaction-h3 {
    text-align: center;
}

.transaction-container {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 90%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
}

.transaction-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.transaction-row:last-child {
    border-bottom: none;
}

.icon,
.name,
.amount {
    padding: 0 10px;
}

.icon {
    flex: 1;
    text-align: left;
}

.name {
    flex: 2;
    text-align: center;
}

.amount {
    flex: 1;
    text-align: right;
}
