/* Home.css */
.main-container {
  /* Remove text-align: center; to prevent it from affecting other elements */
}

/* Name and Savings Container */
.name-savings-container {
    padding: 20px;
    text-align: left; /* Keeps the text aligned to the left */
}

/* Monthly and Summary Container */
.monthly-summary-container {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 90%;
    border: 2px solid black; /* Adds a thin black border */
    border-radius: 20px;     /* Rounds the corners of the border */
    margin-left: auto; /* Center the container */
    margin-right: auto; /* Center the container */
}

/* Income and Expense Container */
.income-expense-container {
  display: flex;
  justify-content: space-between; /* Places items on the left and right */
  align-items: center;            /* Centers items vertically, if they have different heights */
}

.left-item {
  /* Styles for the left item */
}

.right-item {
  /* Styles for the right item */
  text-align: right;
}

.income-text {
    text-align: center;
}

.expense-text {
    text-align: center;
}

.income-value-text {
    text-align: center;
}

.expense-value-text {
    text-align: center;
}

/* Transaction Container */

.transaction-h3 {
    text-align: center;
}

.transaction-container {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 90%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0;
    /* Remove padding so borders reach edge */
    max-width: 400px;
    margin: 0 auto;
}

.transaction-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* Add padding to space out content */
    border-bottom: 1px solid black;
}

.transaction-row:last-child {
    border-bottom: none;
    /* Remove line after last row */
}

.icon,
.name,
.amount {
    padding: 0 10px;
    /* Add padding inside each cell */
}

.icon {
    flex: 1;
    text-align: left;
}

.name {
    flex: 2;
    text-align: center;
}

.amount {
    flex: 1;
    text-align: right;
}
