/* src/pages/css/Home.css */
.home-content {
    padding: 20px;
    padding-bottom: 400px;
    background-color: #f9f9f9;
    --ion-background-color: #f9f9f9;
  }
  
  .home-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .balance-card, .income-card, .expense-card {
    text-align: center;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .balance-card {
    background-color: #4CAF50;
    color: lightcyan;
  }
  
  .income-card {
    background-color: #lightcyan;
    color: white;
  }
  
  .expense-card {
    background-color: #F44336;
    color: white;
  }
  
  .balance-amount, .income-amount, .expense-amount, .welcome-text {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .center-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }


.welcome-text, .balance-amount {
    color: #333333;
}

.income-top-text {
    color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-550, var(--ion-text-color-step-450, #737373))));
}

.transactions-card {
    margin-bottom: 200px;
}

@media (min-width: 900px) {
  .top-text-container {
    text-align: center;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
    .top-text-container {
        margin-left: 1rem;
    }

    .home-content {
        padding: 20px;
        padding-bottom: 900px;
        background-color: #f9f9f9;
        --ion-background-color: #f9f9f9;
      }
}

